<header
    class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] supports-backdrop-blur:bg-white/60 dark:bg-transparent">
    <nav class="mx-auto max-w-container px-4 sm:px-6 lg:px-8">
        <div class="relative flex items-center py-[2.125rem]">
            <div class="absolute inset-x-0 bottom-0 h-px bg-slate-900/5"></div>
            <a class="flex-none text-slate-900 text-xl">
                <span>stRafa</span>
            </a>
            <div class="ml-auto hidden lg:flex lg:items-center space-x-20 text-lg  text-slate-800">
                <a routerLink="blog" class="hover:text-blue-400 cursor-pointer">Blog</a>
                <a class="hover:text-blue-400 cursor-pointer">Categories</a>
                <a class="hover:text-blue-400 cursor-pointer">Portfolio</a>
            </div>
            <div class="hidden lg:ml-10 lg:flex lg:items-center lg:border-l lg:border-slate-900/15 lg:pl-8 space-x-6">
                <a><lucide-icon name="moon-star" [size]="20" [strokeWidth]="1.75"></lucide-icon></a>
                <a href="https://github.com/stRafa"><lucide-icon name="github" [size]="20" [strokeWidth]="1.75"></lucide-icon></a>
                <a href="https://www.linkedin.com/in/rafael-marques-44a992240/"><lucide-icon name="linkedin" [size]="20" [strokeWidth]="1.75"></lucide-icon></a>
            </div>
        </div>
    </nav>
</header>
